<main class="main-content" role="main">
  <section class="section-login section-height d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-5">
          <div class="items-login wb-rounded">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <h1 class="h3 mb-3 font-weight-normal">Forgot Your Password?</h1>
              <%= render "devise/shared/error_messages", resource: resource %>

            
              <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Email" %> <br>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Send Me Reset Instructions</button>
            <% end %>
            <p class="mt-5 mb-3 text-center">© 2021-2022</p>

            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>





