<header class="header">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
      </%= image_tag "icon-agreement.svg", width: 70 %>
      <div class="col-12 col-sm-6 text-center">
        <ul class="nav-page mr-auto" >
          <%= render "home/nav_header" %>
        </ul>
      </div>
      <div class="col-12 col-sm-6">
        <div class="nav-right mx-auto mr-sm-0">
          <ul class="nav-page mr-auto">
            <% if user_signed_in? %>
              <a class="btn page-li text-right", href="/resumes">
                My Resumes
              </a>
              <a class="btn page-li text-right", data-method="delete", href="/users/sign_out">
                Log Out
              </a>
            <% else %>
              <a class="btn page-li text-right">
                <%= link_to "Log In", new_user_session_path %>
              </a>
              <a class="btn page-li text-right">
                <%= link_to "Sign Up", new_user_registration_path %>
              </a>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
            
            