<header class="header">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
      </%= image_tag "icon-agreement.svg", width: 70 %>
      <div class="nav-right mx-auto mr-sm-0">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <a class="btn btn-dark" data-method="delete" href="/users/sign_out">
              <span class="icon-nav-sign-out"></span>
              Log Out
            </a>
            <li class="nav-item active">
              <a class="btn btn-primary", href="/resumes">
              MY RESUMES
            </a>
            </li>
            <li class="nav-item active pull-left">
              <a class="btn btn-yellow", href="/">
              HOME PAGE
            </a>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to "Log In", new_user_session_path, class: "btn btn-dark" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-dark" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
            
            