<div class="text-center pt50">
  <p style="font-size:40px">Build your resume in few minutes.</p>
  <p style="font-size:25px">Try it for free.</p>
  <button class="button" >
    <%= link_to "Build My Resume", new_resume_path %>
  </button>
</div>
<%= render 'home/footer' %>
</section>