<main role="main">


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="">
    
    <div class="container">
      <h1 class="display-3">Build Your Resume in 5 minutes</h1>
      <center><p><%= link_to "Build Now! »", new_user_session_path, class: "btn btn-primary btn-lg" ,role: "button" %></p></center>
    </div>
  </div><br>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <img class="lazy" src="https://resumegenius.com/wp-content/themes/genesis-rg-v3/images/benefits-icon1.svg" alt="Save hours of time" width="50" height="50">
        <h2>Save hours of time</h2>
        <p>Our resume builder will save you time creating your resume. Simply choose a template, and our software will help you fill out each section and bullet point.</p>
      </div>

      <div class="col-md-4">
        <img class="lazy" src="https://resumegenius.com/wp-content/themes/genesis-rg-v3/images/benefits-icon2.svg" alt="Make matching application documents" width="50" height="50">
        <h2>Make matching application documents</h2>
        <p>Pair your resume template with a matching cover letter template to make your application more memorable and leave a stronger impression on employers.</p>
      </div>

      <div class="col-md-4">
        <img class="lazy" src="https://resumegenius.com/wp-content/themes/genesis-rg-v3/images/benefits-icon4.svg" alt="Enjoy a huge range of free templates" width="50" height="50">
        <h2>Enjoy a huge range of free templates</h2>
        <p>Digital Resume Builder boasts the largest, most diverse selection of resume and cover letter templates on the internet. And they’re all free to download</p>
      </div>

      <div class="col-md-4">
        <img class="lazy" src="https://resumegenius.com/wp-content/themes/genesis-rg-v3/images/benefits-icon3.svg" alt="Build a resume with the power of AI" width="50" height="50">
        <h2>Increase chances of getting shortlisted</h2>
        <p>Pair your resume template with a matching cover letter template to make your application more memorable and leave a stronger impression on employers.</p>
      </div>

      <div class="col-md-4">
        <img class="lazy" src="https://resumegenius.com/wp-content/themes/genesis-rg-v3/images/benefits-icon5.svg" alt="Get free advice from professionals" width="50" height="50">
        <h2>HR Approved</h2>
        <p>Pair your resume template with a matching cover letter template to make your application more memorable and leave a stronger impression on employers.</p>
      </div>

      <div class="col-md-4">
        <img class="lazy" src="https://resumegenius.com/wp-content/themes/genesis-rg-v3/images/benefits-icon6.svg" alt="Create an ATS-friendly resume" width="50" height="50">
        <h2>Easy Steps</h2>
        <p>Pair your resume template with a matching cover letter template to make your application more memorable and leave a stronger impression on employers.</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>