<div class="yna-x-doc-16 q1um_q q1um_q-resume" data-q1un_q-option="ubuntu" data-q1un_q-size="2" data-q1se_q-varient="2" data-q1se_q-option="1" data-q1vl_q="mid" data-q1lm_q="50" data-q1lm_q-rates-left="x-bs-2" data-q1lm_q-rates-right="x-bs-2" data-q1vb_q-label-hide="false" data-q1pn_q-index="0" data-q1um_q-index="0" data-q1nt_q="1646633564441-0" data-cv-resume-has-footer="false">
  <div class="q1zh_q-dec-template-16-xslot-2 xslot2">
    <div class="q1va_q-decoration"></div>
  </div>
  <div class="q1ox_q-sides q1pm_q-box">
    <section class="q1ex_q-issue-component">
      <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
        <div class="q1up_q-v2 q1up_q-issue"></div>
      </div>
    </section>
    <div class=" q1zh_q-side-top q1zh_q-side-top-xslot1 q1zh_q-side-top-xslot2" data-q1rt_q-style="round">
      <div class="q1zh_q-header">
        <div class="q1xr_q-header-inner">
          <div class="q1zh_q-doc-16-bg-header q1zh_q-specific-sub-header q1if_q-after q1pm_q-box x-t-c1 q1zh_q-move-with-xslot1">
            <div class="q1zh_q-doc-16-diamond-holder" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/white.svg&quot;);">
              <div class="q1zh_q-doc-16-diamond" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/b-1.svg&quot;);"></div>
            </div>
          </div>
          <div class="q1zh_q-specific-sub-header q1if_q-after q1pm_q-box  q1zh_q-move-with-xslot1">
            <div class="q1zh_q-specific-nt-holde">
              <div class="q1zh_q-name-container">
                <div class="q1ro_q-full-name q1un_q-size-a q1un_q-b q1za_q-wrap-pdf ">Neel Parekh</div>
              </div>
              <div class="q1va_q-title">
                <div class="yna-section-title yna-section-title q1le_q q1pc_q-basic q1le_q-simple" data-q1jl_q="title-1646633564095-3" data-q1ey_q="title">
                  <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                    <section class="q1ex_q-issue-component">
                      <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                        <div class="q1up_q-v2 q1up_q-issue"></div>
                      </div>
                    </section>
                    <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                      <div data-q1ro_q="title-desc" contenteditable="true" class="q1un_q-size-c q1un_q-b q1ro_q x-t-c2-color q1za_q-wrap-pdf q1ro_q-mandatory" data-qxy_q="Professional Title">Professional Title</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="q1va_q-summary">
              <div class="yna-section-summary q1le_q q1pc_q-basic q1le_q-simple" data-q1jl_q="summary-1646633564095-2" data-q1ey_q="summary">
                <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="true">
                  <section class="q1ex_q-issue-component">
                    <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                      <div class="q1up_q-v2 q1up_q-issue"></div>
                    </div>
                  </section>
                  <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                    <div data-q1ro_q="summary-desc" contenteditable="true" class="q1ro_q q1un_q-size-e q1un_q-b q1za_q-wrap-pdf q1ro_q-mandatory" data-qxy_q="Short and engaging pitch about yourself.">Short and engaging pitch about yourself.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="q1eu_q-photo q1le_q " data-q1ey_q="photo">
              <div class="q1rt_q-holder" style="max-width: 200px; max-height: 200px; width: 200px;">
                <div class="q1zh_q-doc-16-photo-dec q1zh_q-photo-dec" style="max-height: 200px; background-color: rgb(49, 60, 78); height: 200px;"></div>
                <div class="q1xr_q-photo-img-border " style="max-width: 200px; max-height: 200px; width: 200px; height: 200px;">
                  <div class="q1xr_q-photo-img"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="q1va_q-contact q1zh_q-header-right  q1zh_q-move-with-xslot2">
            <div class="yna-section-contact q1le_q q1le_q-simple" data-q1ey_q="contact" data-das="1646633572340" data-q1lt_q-groups="false">
              <section class="q1ex_q-issue-component">
                <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                  <div class="q1up_q-v2 q1up_q-issue"></div>
                </div>
              </section>
              <div class="q1yz_q-group">
                <div class="q1zh_q-contact" data-q1ro_q-name="email">
                  <div class="q1up_q-contact-holder x-t-c2-color">
                    <div class="q1zh_q-doc-contact-bg" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/template-specific/doc-16-contact/a-rn-1.svg&quot;);"></div>
                    <div class="q1up_q-contact" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/contact/email/a-1.svg&quot;);"></div>
                  </div>
                  <a data-novo-x-href="mailto:neelparekhvi.dev@gmail.com" class="q1ro_q-contact q1un_q-size-e q1un_q-b q1za_q-wrap-pdf ">neelparekhvi.dev@gmail.com</a>
                </div>
                <div class="q1zh_q-contact" data-q1ro_q-name="phone">
                  <div class="q1up_q-contact-holder x-t-c2-color">
                    <div class="q1zh_q-doc-contact-bg" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/template-specific/doc-16-contact/a-rn-1.svg&quot;);"></div>
                    <div class="q1up_q-contact" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/contact/phone/a-1.svg&quot;);"></div>
                  </div>
                  <a class="q1ro_q-contact q1un_q-size-e q1un_q-b q1za_q-wrap-pdf ">Phone Number</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="xslot1 xslot1-doc" data-q1ik_q-level="17">
      <div class="yna-section-edu q1le_q  q1xv_q-big q1br_q" data-q1le_q-index="0" data-q1bv_q="1" data-q1za_q-el-list-el-row="2" data-q1ey_q="edu">
        <div class="q1zh_q-section-header q1if_q-after ">
          <div class="q1le_q-header-holder q1if_q-after">
            <div class=" q1if_q-after q1pm_q-box q1xr_q-section-icon-holder-padding">
              <div class="q1xr_q-section-icon-container">
                <div class="q1xr_q-section-icon-holder ">
                  <div class="q1zh_q-doc-16-section-icon-dec-hd">
                    <div class="q1zh_q-doc-16-section-icon-dec-1" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-1.svg&quot;);">
                      <div class="q1xr_q-section-icon" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/section/edu/white.svg&quot;);"></div>
                    </div>
                    <div class="q1zh_q-doc-16-section-icon-dec-2" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-rn-1.svg&quot;);"></div>
                  </div>
                </div>
              </div>
              <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                  <div data-q1ro_q="edu-lbl" contenteditable="true" tabindex="-1" class="q1ro_q q1ro_q-label q1un_q-size-b q1un_q-a x-t-c-main-color-a q1za_q-wrap-pdf  q1ro_q-label" data-qxy_q="Education">Education</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="q1br_q">
          <div class="q1yz_q-group" data-q1yz_q-group-key="edu-1646633564095-4">
            <div class="yna-el-edu-0 q1yz_q" data-q1jl_q="edu-1646633564095-4" data-q1yz_q-index="0">
              <div class="q1zh_q-el-content">
                <section class="q1ex_q-issue-component">
                  <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                    <div class="q1up_q-v2 q1up_q-issue"></div>
                  </div>
                </section>
                <div class="q1zh_q-el-role">
                  <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                    <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                      <div data-q1ro_q="edu-x_vs-role" contenteditable="true" class="q1ro_q-el q1un_q-size-c q1un_q-a  q1za_q-wrap-pdf q1ro_q-mandatory" data-qxy_q="Study Program">Study Program</div>
                    </div>
                  </div>
                </div>
                <div class="q1zh_q-el-place">
                  <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                    <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                      <div data-q1ro_q="edu-x_vs-place" contenteditable="true" class="q1ro_q-el q1un_q-size-c q1un_q-b q1za_q-wrap-pdf q1ro_q-mandatory" data-qxy_q="Institution/Place of Education">Institution/Place of Education</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="yna-section-work q1le_q  q1xv_q-big q1br_q" data-q1le_q-index="1" data-q1bv_q="1" data-q1za_q-el-list-el-row="1" data-q1ey_q="work">
        <div class="q1zh_q-section-header q1if_q-after ">
          <div class="q1le_q-header-holder q1if_q-after">
            <div class=" q1if_q-after q1pm_q-box q1xr_q-section-icon-holder-padding">
              <div class="q1xr_q-section-icon-container">
                <div class="q1xr_q-section-icon-holder ">
                  <div class="q1zh_q-doc-16-section-icon-dec-hd">
                    <div class="q1zh_q-doc-16-section-icon-dec-1" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-1.svg&quot;);">
                      <div class="q1xr_q-section-icon" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/section/work/white.svg&quot;);"></div>
                    </div>
                    <div class="q1zh_q-doc-16-section-icon-dec-2" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-rn-1.svg&quot;);"></div>
                  </div>
                </div>
              </div>
              <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                  <div data-q1ro_q="work-lbl" contenteditable="true" tabindex="-1" class="q1ro_q q1ro_q-label q1un_q-size-b q1un_q-a x-t-c-main-color-a q1za_q-wrap-pdf  q1ro_q-label" data-qxy_q="Work Experience">Work Experience</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="q1br_q">
          <div class="q1yz_q-group" data-q1yz_q-group-key="work-1645518060638-4">
            <div class="yna-el-work-0 q1yz_q" data-q1jl_q="work-1645518060638-4" data-q1yz_q-index="0">
              <div class="q1zh_q-el-content">
                <section class="q1ex_q-issue-component">
                  <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                    <div class="q1up_q-v2 q1up_q-issue"></div>
                  </div>
                </section>
                <div class="q1zh_q-el-role">
                  <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                    <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                      <div data-q1ro_q="work-x_vs-role" contenteditable="true" class="q1ro_q-el q1un_q-size-c q1un_q-a  q1za_q-wrap-pdf q1ro_q-mandatory" data-qxy_q="Title/Position">Chairman</div>
                    </div>
                  </div>
                </div>
                <div class="q1zh_q-el-place">
                  <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                    <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                      <div data-q1ro_q="work-x_vs-place" contenteditable="true" class="q1ro_q-el q1un_q-size-c q1un_q-b q1za_q-wrap-pdf q1ro_q-mandatory" data-qxy_q="Workplace/Company">Tata</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="xslot2 xslot2-doc" data-q1ik_q-level="17">
      <div class="q1zh_q-doc16-dec-xslot2">
        <div class="q1zh_q-doc16-dec-xslot2-inner"></div>
      </div>
      <div class="yna-section-skills q1le_q  q1xy_q-rt q1ll_q" data-q1le_q-index="0" data-q1bv_q="111" data-q1lf_q-category="x-rt-d" data-q1lf_q-style="x-hl" data-q1fa_q-itensify="false" data-q1ey_q="skills">
        <div class="q1zh_q-section-header q1if_q-after ">
          <div class="q1le_q-header-holder q1if_q-after">
            <div class=" q1if_q-after q1pm_q-box q1xr_q-section-icon-holder-padding">
              <div class="q1xr_q-section-icon-container">
                <div class="q1xr_q-section-icon-holder ">
                  <div class="q1zh_q-doc-16-section-icon-dec-hd">
                    <div class="q1zh_q-doc-16-section-icon-dec-1" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-1.svg&quot;);">
                      <div class="q1xr_q-section-icon" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/section/skills/white.svg&quot;);"></div>
                    </div>
                    <div class="q1zh_q-doc-16-section-icon-dec-2" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-rn-1.svg&quot;);"></div>
                  </div>
                </div>
              </div>
              <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                <section class="q1ex_q-issue-component">
                  <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                    <div class="q1up_q-v2 q1up_q-issue"></div>
                  </div>
                </section>
                <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                  <div data-q1ro_q="skills-lbl" contenteditable="true" tabindex="-1" class="q1ro_q q1ro_q-label q1un_q-size-b q1un_q-a x-t-c-main-color-a q1za_q-wrap-pdf  q1ro_q-label" data-qxy_q="Skills">Skills</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="q1br_q">
          <div class="q1yz_q-group" data-q1yz_q-group-key="skills-1646633564096-12">
            <div class="yna-el-skills-0 q1yz_q" data-q1jl_q="skills-1646633564096-12" data-q1yz_q-index="0">
              <div class="q1zh_q-el-content">
                <section class="q1ex_q-issue-component">
                  <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                    <div class="q1up_q-v2 q1up_q-issue"></div>
                  </div>
                </section>
                <div class="q1zh_q-el-header x-t-c1-highlight">
                  <div class="q1if_q-after q1pm_q-box">
                    <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                      <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                        <div data-q1ro_q="skills-x_vs-abl" contenteditable="true" class="q1ro_q-el q1un_q-size-e q1un_q-b q1za_q-wrap-pdf  q1ro_q-mandatory" data-qxy_q="Skill">Skill</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="yna-section-projects q1le_q  q1xv_q-semi q1br_q" data-q1le_q-index="1" data-q1bv_q="1" data-q1za_q-el-list-el-row="1" data-q1ey_q="projects">
        <div class="q1zh_q-section-header q1if_q-after ">
          <div class="q1le_q-header-holder q1if_q-after">
            <div class=" q1if_q-after q1pm_q-box q1xr_q-section-icon-holder-padding">
              <div class="q1xr_q-section-icon-container">
                <div class="q1xr_q-section-icon-holder ">
                  <div class="q1zh_q-doc-16-section-icon-dec-hd">
                    <div class="q1zh_q-doc-16-section-icon-dec-1" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-1.svg&quot;);">
                      <div class="q1xr_q-section-icon" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/section/projects/white.svg&quot;);"></div>
                    </div>
                    <div class="q1zh_q-doc-16-section-icon-dec-2" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-rn-1.svg&quot;);"></div>
                  </div>
                </div>
              </div>
              <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                  <div data-q1ro_q="projects-lbl" contenteditable="true" tabindex="-1" class="q1ro_q q1ro_q-label q1un_q-size-b q1un_q-a x-t-c-main-color-a q1za_q-wrap-pdf  q1ro_q-label" data-qxy_q="Personal Projects">Personal Projects</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="q1br_q">
          <div class="q1yz_q-group" data-q1yz_q-group-key="projects-1646633564096-3">
            <div class="yna-el-projects-0 q1yz_q" data-q1jl_q="projects-1646633564096-3" data-q1yz_q-index="0">
              <div class="q1zh_q-el-content">
                <section class="q1ex_q-issue-component">
                  <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                    <div class="q1up_q-v2 q1up_q-issue"></div>
                  </div>
                </section>
                <div class="q1zh_q-el-header q1ox_q-el-name-period">
                  <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                    <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                      <div data-q1ro_q="projects-x_vs-name" contenteditable="true" class="q1ro_q-el q1un_q-size-d q1un_q-b q1za_q-wrap-pdf q1ro_q-mandatory" data-qxy_q="Project Name">Project Name</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="yna-section-org q1le_q  q1xv_q-small q1br_q" data-q1le_q-index="2" data-q1bv_q="1" data-q1ey_q="org">
        <div class="q1zh_q-section-header q1if_q-after ">
          <div class="q1le_q-header-holder q1if_q-after">
            <div class=" q1if_q-after q1pm_q-box q1xr_q-section-icon-holder-padding">
              <div class="q1xr_q-section-icon-container">
                <div class="q1xr_q-section-icon-holder ">
                  <div class="q1zh_q-doc-16-section-icon-dec-hd">
                    <div class="q1zh_q-doc-16-section-icon-dec-1" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-1.svg&quot;);">
                      <div class="q1xr_q-section-icon" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/section/org/white.svg&quot;);"></div>
                    </div>
                    <div class="q1zh_q-doc-16-section-icon-dec-2" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-rn-1.svg&quot;);"></div>
                  </div>
                </div>
              </div>
              <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                  <div data-q1ro_q="org-lbl" contenteditable="true" tabindex="-1" class="q1ro_q q1ro_q-label q1un_q-size-b q1un_q-a x-t-c-main-color-a q1za_q-wrap-pdf  q1ro_q-label" data-qxy_q="Organizations">Organizations</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="q1br_q">
          <div class="q1yz_q-group" data-q1yz_q-group-key="org-1646633564096-8">
            <div class="yna-el-org-0 q1yz_q" data-q1jl_q="org-1646633564096-8" data-q1yz_q-index="0">
              <div class="q1zh_q-el-content">
                <section class="q1ex_q-issue-component">
                  <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                    <div class="q1up_q-v2 q1up_q-issue"></div>
                  </div>
                </section>
                <div class="q1zh_q-el-header q1ox_q-el-name-period">
                  <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                    <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                      <div data-q1ro_q="org-x_vs-name" contenteditable="true" class="q1ro_q-el q1un_q-size-d q1un_q-b q1za_q-wrap-pdf q1ro_q-mandatory" data-qxy_q="Organization Name">Organization Name</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="yna-section-cert q1le_q  q1xv_q-small q1br_q" data-q1le_q-index="3" data-q1bv_q="1" data-q1ey_q="cert">
        <div class="q1zh_q-section-header q1if_q-after ">
          <div class="q1le_q-header-holder q1if_q-after">
            <div class=" q1if_q-after q1pm_q-box q1xr_q-section-icon-holder-padding">
              <div class="q1xr_q-section-icon-container">
                <div class="q1xr_q-section-icon-holder ">
                  <div class="q1zh_q-doc-16-section-icon-dec-hd">
                    <div class="q1zh_q-doc-16-section-icon-dec-1" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-1.svg&quot;);">
                      <div class="q1xr_q-section-icon" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/section/cert/white.svg&quot;);"></div>
                    </div>
                    <div class="q1zh_q-doc-16-section-icon-dec-2" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-rn-1.svg&quot;);"></div>
                  </div>
                </div>
              </div>
              <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                  <div data-q1ro_q="cert-lbl" contenteditable="true" tabindex="-1" class="q1ro_q q1ro_q-label q1un_q-size-b q1un_q-a x-t-c-main-color-a q1za_q-wrap-pdf  q1ro_q-label" data-qxy_q="Certificates">Certificates</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="q1br_q">
          <div class="q1yz_q-group" data-q1yz_q-group-key="cert-1646633564096-7">
            <div class="yna-el-cert-0 q1yz_q" data-q1jl_q="cert-1646633564096-7" data-q1yz_q-index="0">
              <div class="q1zh_q-el-content">
                <section class="q1ex_q-issue-component">
                  <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                    <div class="q1up_q-v2 q1up_q-issue"></div>
                  </div>
                </section>
                <div class="q1zh_q-el-header q1ox_q-el-name-period">
                  <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                    <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                      <div data-q1ro_q="cert-x_vs-name" contenteditable="true" class="q1ro_q-el q1un_q-size-d q1un_q-b q1za_q-wrap-pdf q1ro_q-mandatory" data-qxy_q="Certificate Name">Certificate Name</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="yna-section-lang q1le_q  q1xy_q-rt q1ll_q" data-q1le_q-index="4" data-q1bv_q="2" data-q1lf_q-category="x-rt-d" data-q1lf_q-style="" data-q1fa_q-itensify="true" data-q1ey_q="lang">
        <div class="q1zh_q-section-header q1if_q-after ">
          <div class="q1le_q-header-holder q1if_q-after">
            <div class=" q1if_q-after q1pm_q-box q1xr_q-section-icon-holder-padding">
              <div class="q1xr_q-section-icon-container">
                <div class="q1xr_q-section-icon-holder ">
                  <div class="q1zh_q-doc-16-section-icon-dec-hd">
                    <div class="q1zh_q-doc-16-section-icon-dec-1" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-1.svg&quot;);">
                      <div class="q1xr_q-section-icon" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/section/lang/white.svg&quot;);"></div>
                    </div>
                    <div class="q1zh_q-doc-16-section-icon-dec-2" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-rn-1.svg&quot;);"></div>
                  </div>
                </div>
              </div>
              <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                <section class="q1ex_q-issue-component">
                  <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                    <div class="q1up_q-v2 q1up_q-issue"></div>
                  </div>
                </section>
                <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                  <div data-q1ro_q="lang-lbl" contenteditable="true" tabindex="-1" class="q1ro_q q1ro_q-label q1un_q-size-b q1un_q-a x-t-c-main-color-a q1za_q-wrap-pdf  q1ro_q-label" data-qxy_q="Languages">Languages</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="q1br_q">
          <div class="q1yz_q-group" data-q1yz_q-group-key="lang-1646633564096-14">
            <div class="yna-el-lang-0 q1yz_q" data-q1jl_q="lang-1646633564096-14" data-q1yz_q-index="0">
              <div class="q1zh_q-el-content">
                <section class="q1ex_q-issue-component">
                  <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                    <div class="q1up_q-v2 q1up_q-issue"></div>
                  </div>
                </section>
                <div class="q1zh_q-el-header">
                  <div class="q1if_q-after q1pm_q-box">
                    <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                      <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                        <div data-q1ro_q="lang-x_vs-abl" contenteditable="true" class="q1ro_q-el q1un_q-size-e q1un_q-b q1za_q-wrap-pdf  q1ro_q-mandatory" data-qxy_q="Language">Language</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="q1ul_q-holder ">
                  <div class="qxx_q-field q1ts_q-doc-prevent-refresh q1un_q-size-f q1un_q-c x-t-c1-color qxx_q-field-4   q1za_q-wrap-pdf ">Full Professional Proficiency</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="yna-section-interests q1le_q  q1xy_q-basic q1ll_q" data-q1le_q-index="5" data-q1bv_q="111" data-q1lf_q-category="x-rt-d" data-q1lf_q-style="x-hl" data-q1ey_q="interests">
        <div class="q1zh_q-section-header q1if_q-after ">
          <div class="q1le_q-header-holder q1if_q-after">
            <div class=" q1if_q-after q1pm_q-box q1xr_q-section-icon-holder-padding">
              <div class="q1xr_q-section-icon-container">
                <div class="q1xr_q-section-icon-holder ">
                  <div class="q1zh_q-doc-16-section-icon-dec-hd">
                    <div class="q1zh_q-doc-16-section-icon-dec-1" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-1.svg&quot;);">
                      <div class="q1xr_q-section-icon" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/section/interests/white.svg&quot;);"></div>
                    </div>
                    <div class="q1zh_q-doc-16-section-icon-dec-2" style="background-image: url(&quot;https://d.novoresume.com/yna_pub/svg/list/diamond-full/a-rn-1.svg&quot;);"></div>
                  </div>
                </div>
              </div>
              <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                  <div data-q1ro_q="interests-lbl" contenteditable="true" tabindex="-1" class="q1ro_q q1ro_q-label q1un_q-size-b q1un_q-a x-t-c-main-color-a q1za_q-wrap-pdf  q1ro_q-label" data-qxy_q="Interests">Interests</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="q1br_q">
          <div class="q1yz_q-group" data-q1yz_q-group-key="interests-1646633564096-15">
            <div class="yna-el-interests-0 q1yz_q" data-q1jl_q="interests-1646633564096-15" data-q1yz_q-index="0">
              <div class="q1zh_q-el-content">
                <section class="q1ex_q-issue-component">
                  <div class="q1ex_q-issue-btn q1ur_q-component q1ut_q q1xf_q-issues" data-q1ln_q-type="problem">
                    <div class="q1up_q-v2 q1up_q-issue"></div>
                  </div>
                </section>
                <div class="q1zh_q-el-header">
                  <div class="q1zc_q-icon q1if_q-after q1pm_q-box">
                    <div class="q1ll_q-icon" style="background: url(&quot;https://d.novoresume.com/yna_pub/svg/ics/star/a-1.svg&quot;);"></div>
                    <div class="q1if_q-after q1pm_q-box">
                      <div class="q1xu_q q1eu_q-field q1eu_q-field-outer" data-novo-align="" data-q1wz_q-text-enabled="false">
                        <div class="q1xu_q q1eu_q-field q1eu_q-field-inner">
                          <div data-q1ro_q="interests-x_vs-abl" contenteditable="true" class="q1ro_q-el q1un_q-size-e q1un_q-b  q1za_q-wrap-pdf  q1ro_q-mandatory" data-qxy_q="Interest">Interest</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>