<div class="nested-fields">
  <div class="row">

    <div class="col-12 col-lg-6">
      <div class="form-group form-group-label" id="resume-name">
        <%= f.text_field :name, :class => "form-control",:placeholder => "Name" %>
        <label for="resume-name">
          Language Name
        </label>
      </div>
    </div>

    <div class="col-12 col-sm-6 ">
      <%= link_to_remove_association 'remove', f, class: 'btn btn-danger btn-xs' %>
    </div>
  </div>
</div>