<body>
<div class="container">
<section class="section_left">
<center>
<%= image_tag  "userlogopng" %>
<h1 class="title resume_name"></h1>
</center>
<hr></hr>
<h5 class="sub-title ">CONTACT INFO</h5>
<ul>
<li><i class="fa fa-male"></i><span class="resume_gender"></span></li>
<li><i class="fa fa-phone"></i> <span class="resume_phone_number"></span></li>
<li><i class="fa fa-envelope"></i><span class="resume_email"></span></li>
<li><i class="fa fa-calendar"></i><span class="resume_birthdate"></span></li>
<li><i class="fa fa-music"></i><span class="resume_interests"></span></li>
<li><i class="fa fa-globe"></i> <span class="resume_website"></span></li>
<li><i class="fa fa-map-marker"></i> <span class="resume_address"></span></li>
<ul>
<h5 class="sub-title">EDUCATION</h5>
<em>Primary</em>
<p>School name - year to year</p>
<em>College</em>
<p>College name - year to year</p>
<em>Graduation</em>
<p>Collage name - year to year</p>
<h5 class="sub-title">LANGUAGE</h5>
<label>Language-1</label>
<div class="progress_container">
<div class="progress_bar" style="width:25%"></div>
</div>
<label>Language-2</label>
<div class="progress_container">
<div class="progress_bar" style="width:25%"></div>
</div>
<label>Language-3</label>
<div class="progress_container">
<div class="progress_bar" style="width:90%"></div>
</div>
</section>
<section class="section_right">
<h1 class="title">PROFILE</h1>
<p class="resume_general_info"></p>
<h1 class="title">EXPERIENCE</h1>
<h5 class="sub-title">Web developer & designer</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
<em style="float:right;">Period Of Work</em>
<h5 class="sub-title">Web developer & designer</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
<em style="float:right;">Period Of Work</em>
<h5 class="sub-title">Web developer & designer</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
<em style="float:right;">Period Of Work</em>
<h1 class="title">PROFESSIONAL SKILLS</h1>
<table>
<tr>
<td>
HTML
</td>
<td>
<div class="progress_container">
<div class="progress_bar" style="width:90%"></div>
</div>
</td>
</tr>
<tr>
<td>
HTML
</td>
<td>
<div class="progress_container">
<div class="progress_bar" style="width:90%"></div>
</div>
</td>
</tr>
<tr>
<td>
HTML
</td>
<td>
<div class="progress_container">
<div class="progress_bar" style="width:90%"></div>
</div>
</td>
</tr>
<tr>
<td>
HTML
</td>
<td>
<div class="progress_container">
<div class="progress_bar" style="width:90%"></div>
</div>
</td>
</tr>
</table>
</section>
</div>
