<div class="nested-fields">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group form-group-label" id="resume-title">
        <%= f.text_field :title, :class => "form-control",:placeholder => "Title" %>
        <label for="resume-title">
          Title
        </label>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group form-group-label" id="resume-percent">
        <%= f.text_field :percent, :class => "form-control",:placeholder => "Percent" %>
        <label for="resume-percent">
          Percent
        </label>
      </div>
    </div>

    <div class="col-md-6">
      <%= link_to_remove_association 'remove skill', f, class: 'btn btn-danger btn-xs' %>
    </div>
  </div>
</div>