<main class="main-content" role="main">
  <section class="section-details">
    <div class="container">
      <div class="text-center pb-4 mb-md-3">
        <div class="text-18 text-m pt-3 mt-1">
          <%= "My Resumes" %>
        </div>
      </div>
      <div class="row row-md-17">
        <div class="col-12">
          <div class="items-left wb-rounded">
            <div class="item-body">
              <div id="filter_executives">
                <%= render :partial => "fetchAll" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

